<!--The content below is only a placeholder and can be replaced.-->
<div>
  <div class="container">
    <h1>Search Artist</h1>
    <div class="form-inline">
      <div class="form-group">
        <label for="artistName">Artist Name </label>
        <input #artistName class="form-control" type="text" class="form-control" id="artistName" required>
      </div>
      <button (click)="search(artistName.value)" class="btn btn-success">Search</button>
    </div>
    <br/>
    <div *ngIf="artist !=null" class="card">
      <img class="card-img-top" src="{{artist.thumb_url}}" alt="Artist Image">
      <div class="card-body">
        <h4 class="card-title"> {{artist.name}}</h4>
        <a href="{{artist.facebook_page_url}}" class="btn btn-info">Visit Facebook!</a>
      </div>

      <div *ngIf="artist.upcoming_event_count > 0" class="list-group col-sm-6">
        <h3>Events</h3>
        <div *ngFor="let event of artist.events" class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <h3>{{event.venue.name}}</h3>
          </div>
          <p>{{event.venue.city}}, {{event.venue.country}}</p>
          <p class="card-text">
            <small class="text-muted">{{event.datetime | date:'MMM dd, yyyy, hh:mm a'}}</small>
          </p>
        </div>
      </div>
    </div>
    <div *ngIf="showErrorMessage">
      <div class="alert alert-info alert-dismissible col-sm-5 fade in" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{errorMessage}}
      </div>
    </div>   
  </div>
</div>